body {
    color: white;
    background: black;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
    text-align: center;
}

.chamada {
    background: rgb(184, 156, 213);
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

/* CATEGORIA */
.categoria {
    background-color: #c7a3db;
    padding: 20px;
    margin: 0;
}

.categoria h2 {
    color: rgb(42, 122, 228);
    margin-bottom: 20px;
}

.categoria-videos {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.categoria-videos img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 10px;
    transition: 0.3s;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

img {
    max-width: 100%;
    height: auto;
}